<html>
    <body>
        <form action="/gravar" method="POST">
            <label for="nome">Nome:</label>
            <input type="text" name="nome" placeholder="Insira o nome do produto"><br><br>

            <label for="preco">Preco:</label>
            <input type="text" name="preco" placeholder="Insira o preco do produto"><br><br>

            <label for="categoria">Categoria:</label>
            <input type="text" name="categoria" placeholder="Insira a categoria do produto"><br><br>

            <input type="submit" value="Enviar">
        </form>
    </body>
</html>
